.constrain {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    padding: 0 10px;
}

.flexxed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.accent-text,
a.accent-text {
    color: $accent;
}

.ltgray-text,
a.ltgray-text {
    color: $ltgray;
}

.dkgray-text,
a.dkgray-text {
    color: $dkgray;
}

.darkest-text,
a.darkest-text {
    color: $darkest;
}

.accent-bg {
    background-color: $accent;
}

.ltgray-bg {
    background-color: $ltgray;
}

.dkgray-bg {
    background-color: $dkgray;
}

.darkest-bg {
    background-color: $darkest;
}

[class^=btn] {
    text-transform: uppercase;

    &.accent-bg {
        color: $lightest;
    }
}

.btn-sm {
    display: inline-block;
    padding: 5px 10px;
}

.widget {
    margin: 0 0 1rem 0;
}

.widget {

    .social-icon {
        font-size: 24px;
        margin: 0 10px 0 0;
    }
}

.widget-title {
    margin: 0 0 .75rem 0;
    text-transform: uppercase;
}