.site-content {
    margin: 100px 0 0 0;
}

// CTA MODULE
.cta-module {
    background-attachment: fixed;
    background-position: center 0;
	background-repeat: no-repeat;
    background-size: cover;
    color: $lightest;
    text-align: center;

    a {
        color: $lightest;
    }
}

.cta-btn-block {
    background-color: $dkgray;
}