section {
    padding: 30px 0;
}

// Homepage
.hero {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $lightest;
    position: relative;
    text-align: center;
}

.hero-bold-text {
    font-family: $heading;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.hero-light-text {
    font-family: $heading;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.services,
.about {
    text-align: center;

    h3 {
        color: $accent;
        text-transform: uppercase;
    }

    a {
        color: $accent;
        font-weight: 500;
    }
}

.services {

    .flexed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.service-block {
    margin: 0 0 20px 0;

    &:last-of-type {
        margin: 0;
    }
}

.about {
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $lightest;
}

.hp-form {
    background-color: $darkest;

    h3 {
        color: $lightest;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }

    .flexed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    span {
        display: block;
        margin: 0 0 15px 0;
    }

    p {
        margin: 0;
    }
}

.syp-comments {
    position: relative;

    input[type=submit] {
        background-color: $accent;
        bottom: 15px;
        box-shadow: $lshadow;
        color: $lightest;
        right: 10px;
        padding: 10px 20px;
        position: absolute;
        text-transform: uppercase;
    }

    .ajax-loader {
        left: 10px;
        position: absolute;
        bottom: 20px;
    }
}

// General Pages
.banner-image {
    background-position-y: 0px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
}

.page-content {

    img {
        margin: 0 0 10px 0;
    }
}

.page-heading {
    color: $lightest;
    display: block;
    text-align: center;
}

.content-wrapper {
    background-color: $lightest;
    overflow: hidden;
}

.recent-projects {
    background-color: $ltgray;
    padding: 30px 0 0 0;
    text-align: center;

    .flexed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.project-image-block {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 225px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .project-image-overlay {
        background-color: rgba( 0, 0, 0, .35 );
        height: 100%;
        left: 0;
        padding: 90px 0 0 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
}

// Contact Page
.page-template-contact {
    
    input,
    select,
    textarea {
        background-color: $ltgray;
        margin: 0 0 10px 0;
    }

    aside.contact {
        text-align: center;

        h3 {
            margin: 20px 0 0 0;
        }
    }

    .contact-snippet {
        font-weight: 500;
    }
}

// Blog Pages
.blog-quote,
.page-quote {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    margin: 0 auto 30px auto;
    max-width: 960px;
    text-align: center;
}

.blog-block {

    h2 {
        font-size: 26px;
        margin: 0 0 10px 0;
        a {
            color: $darkest;
            font-weight: 300;
        }
    }
}

.index-date {
    color: $accent;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.single-post {
    
    .content-area {
        padding: 30px 0;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 20px 0;
        text-shadow: none;
    }
}