input[type=text],
input[type=email],
input[type=number],
select {
    border-radius: 0;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    width: 100%;

    &:focus {
        outline: 0 !important;
        background-color: lighten( $accent, 55% );        
    }
}

textarea {
    padding: 5px 10px;

    &:focus {
        outline: 0 !important;
        background-color: lighten( $accent, 55% );        
    } 
}
