@media only screen and ( min-width: 568px ) {

    // HEADER
    .header-contact {
        margin: 0;
    }

    .header-connect {
        background-color: transparent;
        box-shadow: initial;
        padding: initial;
        position: initial;

        a#connect-open {
            display: none;
        }
    }

    .main-header {
        padding: 15px 0;
    }

    a.top-logo {
        width: 340px;
    }
    
    button#responsive-menu-button {
        top: 53px !important;
    }

    // GENERAL CONTENT
    .site-content {
        margin: 117px 0 0 0;
    }

    // FOOTER
    .top-footer {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    .footer-col {
        width: 45%;
    }

    .footer-info {
        float: left;

        &:first-of-type {

            &:after {
                color: $dkgray;
                content: '|';
                margin: 0 10px 0 0;
                padding: 0 0 0 5px;
            }
        }
    }
}

@media only screen and ( min-width: 640px ) {

    // CTA-MODULE
    .cta-module {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    .cta-content,
    .cta-btn-block {
        width: 47%;
    }

    .cta-btn-block {
        margin: 0;
    }
}

@media only screen and ( min-width: 768px ) {

    // CTA-MODULE
    .cta-content {
        width: 63%;

        h3 {
            font-size: 30px;
        }

        .text-block {
            font-size: 19px;
        }
    }

    .portfolio-cta-module {
        
        .flexxed {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }

        h3 {
            margin: 0;
        }

        .cta-text {
            text-align: right;
            width: 66%;
        }
    }

    .cta-btn-block {
       width: 33%;
    }
    
    // FOOTER
    .top-footer {
        padding: 30px 0 20px 0;
    }
}

@media only screen and ( min-width: 960px ) {

    // HEADER
    .site-branding {
        display: inline-block;
        width: auto;
    }

    .main-navigation {
        float: right;
        font-size: 18px;
        margin: 15px 0 0 0;
        width: auto;

        li a {
            color: $dkgray;
            padding: 0 11px;
            text-transform: uppercase;

            &:hover {
                color: $accent;
            }
        }
    }

    // CTA-MODULE
    .cta-content {
        width: 70%;

        h3 {
            font-size: 34px;
        }
    }

    .cta-btn-block {
       width: 27%;
    }

    // FOOTER
    .footer-col {
        width: 23%;
    }
}

@media only screen and ( min-width: 1024px ) {

    // CTA-MODULE
    .cta-content {

        h3 {
            font-size: 36px;
        }
    }

    .cta-snippet {
        font-size: 18px;
    }
}

@media only screen and ( min-width: 1100px ) {

    // HEADER
    .main-navigation {

        li a {
            padding: 0 15px;
        }
    }

    // CTA-MODULE
    .cta-content {

        h3 {
            font-size: 40px;
        }

        .text-block {
            font-size: 21px;
        }
    }
}

@media only screen and ( min-width: 1200px ) {

    // CTA-MODULE
    .cta-content {
        width: 66%;

        h3 {
            font-size: 41px;
        }

        .text-block {
            font-size: 22px;
        }
    }

    .cta-btn-block {
        width: 33%;
    }

    .cta-snippet {
        font-size: 22px;
    }
}